.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}
.cart {
    width: 70%;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}
.order-summary {
    width: 30%;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}
.cart h2, .order-summary h3 {
    margin-top: 0;
    text-align: center;
}
.cart table {
    width: 100%;
    border-collapse: collapse;
}
.cart th, .cart td {
    padding: 10px;
    text-align: left;
}
.cart th {
    background-color: #f2f2f2;
}
.cart img {
    height: 50px;
}
.cart-footer {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}
.order-summary .total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.place-order-btn {
    display: block;
    width: 95%;
    padding: 10px;
    background-color: rgb(253, 251, 122);
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.continue-ordering {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-right: 25px;
    color: black;
    text-decoration: none;
}